@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 16px;
    @include mobile {
        font-size: 11px;
    }
}

body {
    font-family: "Roboto", sans-serif;
    background-color: $background-main-color;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: red;
    bottom: 100px;
}
.privacy-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #45ce7c;
    z-index: 2;
}
