.job-card {
    // width: 500px;
    background: #ffffff;
    padding: 1rem;
    // border: 1px solid black;
    box-shadow: 5px 5px 15px 0 rgb(224 224 224 / 50%);
    border-radius: 10px;
    &__title {
        color: #4a4a4a;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: normal;
    }
    &__detail {
        display: flex;
        color: #909090;
        position: relative;
        font-size: 16px;
        line-height: 30px;
        // padding: 0 20px;
        gap: 1rem;
        margin-bottom: 0;
        margin: 1rem 0;
        .tit {
            font-weight: 600;
            color: #413f42;
        }
    }
}
