$menu-width: 300px;
$bg: red;
.menu {
    width: $menu-width;

    &__btn {
        height: 2.64rem;
        background: #ffffff;
        // color: green;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
    }
    path {
        // fill: $bg;
    }
    &__ul {
        width: $menu-width;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #ffffff;
    }

    &__li {
        // color: var(--background);
        color: red;
        display: block;
        &:hover {
            background-color: #fdc318;
            color: white !important;
            border-radius: 10px;
        }
    }

    &__ul,
    &__li {
        list-style: none;
        margin: 0;
        padding: 10px;
    }
}
